* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

body {
    width: 100%;
    height: 100%;
}

.wrapper {
	max-height: 500px;
    max-width: 350px;
    overflow: auto;
    margin: auto;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

form {
	display: inline-block;
}

.header > h1 {
    margin-bottom: 10px;
}

form > input[type=text], form > input[type=password], form > input[type=email] {
	outline: none;
	border: none;
	border-bottom: 1px solid ivory;
    padding: 10px;
    display: block;
    position: relative;
    font-size: 1.2em;
    text-align: center;
    min-width: 300px;
    max-width: 340px;
    color: antiquewhite;
}

.button {
    border: 1px solid ivory;
    background-color: transparent;
    color: ivory;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    margin-bottom: 10px;
}

form .button:active {
    color: coral;
    border: 2px solid coral;
}

.header {
    text-align: center;
    color: ivory;
}

.register_link, .login_link {
	display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    color: lightskyblue;
    font-size: 20px;
}

.register_link:hover, .login_link:hover {
    color: coral;
    cursor: pointer;
}

.error {
    color: red;
}

.success {
    color: green;
}