body {
    background-color: #151515;
}

a {
    color: cornflowerblue;
    cursor: pointer;
}

.header {
    width: 100%;
    min-width: 320px;
    height: 50px;
    position: fixed;
    background-color: black;
    z-index: 1000;
}

.logo {
    display: inline-block;
}

.home-mobile {
    display: none;
}

.logo a {
    text-decoration: none;
    margin-left: 15px;
}

nav {
    float: right;
    position: relative;
    text-decoration: none;
    margin-right: 15px;
    font-size: 20px;
    margin-top: 10px;
}

nav a, nav a:hover {
    margin-right: 10px;
    text-decoration: none;
}

nav a:hover {
    color: coral;
}

.wrapper {
    margin: 0 auto;
    top: 65px;
    position: relative;
    max-width: 800px;
    padding: 0 15px;
}

.column {
    padding: 5px;
}

.left_column {
    position: fixed;
    margin: 5px;
}

.left_column .left_menu a {
    margin-bottom: 10px;
    display: block;
}

.notice {
    text-align: center;
    color: lightsalmon;
}

.user_details {
    color: white;
}

.user_details .hate_user {
    color: crimson;
}

.user_details_name {
    font-size: 20px;
    color: coral;
}

.user_details_pic {
    width: 150px;
    height: 150px;
    margin: 5px;
    padding: 5px;
    border-radius: 50%;
}

.user_details_info {
    width: 150px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    display: inline-block;
}

/* Main column */

.main {
    margin-left: 180px;
    padding: 5px;
    z-index: -1;
}

.main_column {
    display: inline-block;
    width: 590px;
    margin: 5px;
}

.main_column>h2 {
    font-size: 2rem;
    text-align: center;
    color: antiquewhite;
}

.main_column h3 {
    font-size: 1.5rem;
    color: antiquewhite;
}

#loading {
    height: 75px;
    display: block;
    margin: auto;
}

#go_back {
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    display: block;
    opacity: 0.5;
    background-color: white;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.main_column .post_form textarea {
    height: 60px;
    width: 520px;
    margin-right: 5px;
    margin-bottom: 10px;
    float: left;
    outline: 0;
    padding: 5px;
}

.main_column .post_form {
    margin-bottom: 10px;
}

.button {
    border: 1px solid ivory;
    background-color: transparent;
    color: ivory;
}

.button:disabled {
    color: grey;
    border: 1px solid grey;
}

.post_btn {
    height: 60px;
    display: inline-block;
}

form .button:active {
    color: coral;
}

.status_post {
    color: white;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #232323;
}

.post_info {
    height: 50px;
    padding: 5px;
}

.post_info_user_by_pic {
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    background-color: antiquewhite;
}

.post_info_user_by_pic img {
    border-radius: 50%;
}

.post_info_data {
    display: inline-block;
}

.post_info_time {
    color: lightgray;
    font-size: 10px;
}

.post_body {
    padding: 5px;
    overflow-wrap: break-word;
}

.post_data_section {
    border-top: 1px solid lightslategray;
    padding: 5px;
}

.post_comments_form {
    display: none;
}

.comment_item {
    padding-left: 8px;
    margin-bottom: 5px;
}

.comment_item .comment_info_pic {
    display: inline-block;
}

.comment_item .comment_info_by {
    display: inline-block;
}

.comment_item .comment_info_time {
    color: lightgray;
    font-size: 10px;
    display: inline-block;
}

.comment_item .comment_body {
    overflow-wrap: break-word;
    font-size: 14px;
}

.post_comments_controls {
    padding: 5px;
}

.post_comments_controls .post_comments_controls_img {
    border-radius: 50%;
    height: 35px;
    background-color: ivory;
    float: left;
    margin-right: 10px;
}

.post_comments_controls .post_comments_controls_input {
    width: 10%;
    height: 35px;
    float: left;
    margin-right: 10px;
    width: 70%;
}

.post_comments_controls button {
    height: 35px;
    width: 50px;
}
.post_comments_controls button::after {
    content: 'Say';
}

.response {
    color: ivory;
}

/* ------------------------ search ------------------------ */

.search-results>.result {
    margin-bottom: 10px;
    font-size: 20px;
}

.search-results>.result:hover {
    background-color: #1A1A1A;
    border-radius: 5px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.search-results>.result .user_image {
    width: 50px;
    border-radius: 50%;
    background-color: antiquewhite;
    margin-right: 10px;
}

.search-results .user_link {
    display: block;
}

/* ------------------------ notificaations ------------------------ */

.badgefa:after {
    content: "";
    position: absolute;
    background: red;
    border-radius: 50%;
    color: red;
    margin-left: -10px;
    margin-top: -5px;
    height: 10px;
    width: 10px;
}

.notification_info {
    display: block;
}

.notifications>.notification {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #1F1F1F;
    border-radius: 5px;
}

.notifications .notification_info>.notification_text, .notification_date {
    color: ivory;
}

/* ------------------------ mobile ------------------------ */

@media (max-width: 700px) {
    .logo {
        display: none;
    }
    .home-mobile {
        display: inline-block;
    }
    nav {
        text-align: center;
        margin-right: 0;
        float: none;
    }
    nav a {
        margin-right: 20px;
    }
    nav a:last-child {
        margin-right: 0;
    }
    .column {
        padding: 0;
    }
    .wrapper {
        padding: 0 5px;
    }
    .left_column {
        position: relative;
        margin: 0;
    }
    .left_column .left_menu {
        display: none;
    }
    .main {
        margin-left: 0;
        padding: 5px;
    }
    .post_btn {
        height: 60px;
        width: 20%;
        display: inline-block;
    }
    .user_details {
        text-align: center;
        padding-left: 20px;
    }
    .user_details_pic {
        width: 100px;
        height: 100px;
        padding: 0;
        float: left;
        border-radius: 50%;
    }
    .user_details_info {
        width: 100px;
    }
    .main_column {
        margin: 0 auto;
        width: 100%;
    }
    .main_column .post_form textarea {
        height: 60px;
        width: 78%;
        float: left;
        outline: 0;
    }
    .user_details_info {
        margin: 3px;
        display: inline-block;
        font-size: 20px;
    }
    .post_comments_controls button {
        height: 35px;
        width: 35px;
    }
    .post_comments_controls button::after {
        content: 'S';
    }
}